{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="cards-container">
        <!-- Registrar Paciente -->
        <div class="card-service">
            <div class="card-img">
                <img src="{% static 'images/ofttal1.jpg' %}" alt="Registrar Paciente">
            </div>
            <div class="card-title">Registrar Paciente</div>
            <div class="card-desc">Nuevo ingreso de paciente para iniciar seguimiento.</div>
            <a href="{% url 'patient_register' %}" class="btn-service">Registrar</a>
        </div>

        <!-- Historial de Pacientes -->
        <div class="card-service">
            <div class="card-img">
                <img src="{% static 'images/ofttal1.jpg' %}" alt="Historial Pacientes">
            </div>
            <div class="card-title">Historial de Pacientes</div>
            <div class="card-desc">Consulta los pacientes registrados y sus controles anteriores.</div>
            <a href="{% url 'patient_history' %}" class="btn-service">Historial</a>
        </div>
    </div>
</div>
{% endblock %}

